@model IEnumerable<Software2.Models.Vecinos>
@{
    ViewData["Title"] = "Admin";
    Layout = "_Administrador";
    var count = 1;
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<main>
    <center><h4>Lista de Usuarios Inscritos en Eventos</h4></center><br>
    <form action="/Vecinos" method="post">
        <div class="col-lg-5 mx-auto">
            <input type="text" id="searchString" class="form-control" placeholder="Buscar por Dni" name="searchString"/>
        </div>
    </form>
    <br>
    <table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th scope="col">
                №
            </th>
            <th scope="col">
                DNI
            </th>
            <th scope="col">
                NOMBRES y APELLIDOS
            </th>
            <th scope="col">
                CORREO
            </th>
            <th scope="col">
                CELULAR
            </th>
            <th scope="col">
                EVENTO
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           <th scope="row">
                @count
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Dni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombres) @Html.DisplayFor(modelItem => item.Apellidos)
            </td>               
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Celular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Evento)
            </td>
        </tr>
        count++;
}
    </tbody>
</table>
</main>
@section Scripts{

    <script>
        function mostrarDatos(){
            const input = document.getElementById("inputExcel")
            const formData = new FormData()
            formData.append("ArchivoExcel",input.files[0])
            fetch("Home/MostrarDatos",{
                method: "POST",
                body:formData
            })
            .then((response) => { return response.json()})
            .then((dataJson) => {
                
                
                dataJson.forEach((item) => {
                    $("#tbData tbody").append(
                        $("<tr>").append(
                            $("<td>").text(item.nombre),
                            $("<td>").text(item.apellido),
                            $("<td>").text(item.telefono),
                            $("<td>").text(item.correo)
                        )
                    
                    )
                })
            
            })
        
        
        }
        function enviarDatos(){
            const input = document.getElementById("inputExcel")
            const formData = new FormData()
            formData.append("ArchivoExcel",input.files[0])
            fetch("Home/EnviarDatos",{
                method: "POST",
                body:formData
            })
            .then((response) => { return response.json()})
            .then((dataJson) => {
              alert(dataJson.mensaje);
            
            })
        
        
        }
    </script>

}
